# Note: Please Install the CUDA-enabled PyTorch version first!
# See README.md for the specific pip install torch --index-url command.
# Do not uncomment 'torch' below if you want GPU acceleration.
# torch

# Deep Learning
tqdm

# Data Processing & Extraction
pandas
xarray
cfgrib
joblib
numpy

# Performance Metrics & Visualization
scikit-learn
properscoring
scipy
tabulate
matplotlib
seaborn

# Miscellaneous
sqlalchemy
